@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --brandcolor: #9da7bb;
  --bgColor: #0f172a;
  --text-color: #4dbfb1;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  background-color: var(--bgColor);
  color: var(--brandcolor);
}
.Brittany .nav-link {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
}
.Brittany .Chiang {
  font-size: 50px;
  font-weight: bold;
}
.Brittany .Senior {
  font-size: 22px;
  font-weight: 600;
}
.Brittany .underlines {
  border-bottom: 1px solid white;
}
.Brittany .experience:hover { 
  width: 80px;
  border-bottom: 1px solid white;
  width: 40px;
}
.partents:hover{
 background-color:#1f2738 ;
 padding: 20px;
}
.seniors{
  color: white;
  text-transform: capitalize;
  font-weight: 600;
}
.seniors:hover{
  color: #48cbdc;
}
.engineerss{
  text-transform: capitalize;
  font-weight: 600; 
}
.javabtn {
  color: #48cbdc;
  font-size: 13px;
  border-radius: 20px;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #193235;
}
::marker {
   display: none;
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
.abouts::before{
  content:'';
  height: 2px;
  width: 30px;
  background-color: var(--brandcolor);
  display: inline-block;
  margin: 3px 10px 3px 0px;
  transition:width 0.5s;
}
.abouts:hover::before{
  width: 80px;
  background-color: white;
}
.presents{
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.socialicons{
  font-size: 28px;
}

@media (min-width :992px) {
  .positions, .socialicons{
    position: fixed;
  }
  .accessibillity{
    margin-top: 80px !important;
  }
  .frontend{
    margin-top: 70px !important;

  }
  .engineer, .Loosely{
    margin-top: 100px !important;

  }
  .socialicons{
    margin-top: 700px;
  }
  .Brittany .Chiang {
    font-size: 50px;
    font-weight: bold;
  }
  .Brittany{
    margin-top: 60px;
  }
}
@media (max-width: 768px) {
  .Brittany {
    margin-top: 50px;
  }
  .development{
    margin-top: 80px;
  }
  .positions{
    position: static;
  }
  .Losely{
    margin-top: 60px !important;
  
  }
  .Brittany .Chiang {
    font-size: 35px;
    font-weight: bold;
  }
  body{
    font-size: 16px;
  }
  
}

